* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    width: 99.6vw;
    background-color: #1c0c24;
}

.side-bar {
    background: linear-gradient(187deg, #41295a, #2F0743);
    width: 25%;
    height: 100%;
    float: left;
}

.title {
    word-spacing: -10px;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    font-weight: bold;
}

.title p {
    color: white;
    font-family: 'Azeret Mono', monospace;
}

.main-bar {
    border-right: 2px solid black;
    width: 50%;
    background-color: #f4831b;
    border-left: 2px solid black;
}

.main-text-area {
    margin-top: 20px;
    margin-left: 10px;
}

#mess-type {
    display: flex;
}

.sendLocation {
    margin-left: 2px;
    width: 87px;
    height: 34px;
    font-size: 10px;
    color: black;
    background: transparent;
    border: 2px solid;
    outline: none;
}

.mess-box-area {
    height: 6%;
    width: 99%;
}

.btn {
    margin-left: 2px;
    width: 87px;
    font-size: 10px;
    color: white;
    background: transparent;
    outline: none;
    border: 2px solid black;
    color: black;
}

.btn:hover {
    cursor: pointer;
    background-color: #41295a;
    transition: all 1s;
    color: white;
}

.sendLocation:hover, #mess-type button:hover {
    cursor: pointer;
    background-color: #41295a;
    color: white;
    border: 2px solid black;
    transition: all 1s;
}

#new-div {
    margin-bottom: 16px;
}

.names {
    word-spacing: -7px;
    font-family: 'Azeret Mono', monospace;
}

.names p {
    font-family: 'Roboto', sans-serif;
}

.time {
    word-spacing: 1px;
    font-size: 12px;
    color: #808080d6;
    font-family: 'Poppins', sans-serif;
}

.right-side-sec {
    background-color: #2F0743;
    width: 25%;
}

.input-btn {
    padding: 0px 20px;
    width: 79%;
    height: 34px;
    font-weight: bold;
    background: transparent;
    outline: none;
    border: 2px solid;
}

#message-hidden {
    height: 94%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.side-left, .side-right {
    float: left;
    width: 25%;
    color: white;
}

.side-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
}

.name label {
    position: relative;
    right: 69px;
    font-family: 'Roboto', sans-serif;
}

.name input, .room input {
    width: 216px;
    height: 35px;
    padding: 0px 15px;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: 2px solid;
    border-radius: 5px;
}

.room {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.room label {
    position: relative;
    right: 45px;
    font-family: 'Roboto', sans-serif;
}

.button-room {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-room-btn {
    width: 111px;
    height: 33px;
    background: transparent;
    outline: none;
    border: 2px solid;
}

.join-room-btn:hover {
    cursor: pointer;
    background: #1c0c24;
    color: white;
    transition: all 1s;
    border: 2px solid black;
}

/* join page */

.join-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #1c0c24;
}

.join-mess {
    width: 27%;
    height: 44%;
    border: 2px solid;
    background-color: #f4831b;
    border-radius: 8px;
}

.join-mess h1 {
    font-size: 27px;
    margin: 0px auto;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 18px;
    font-family: 'Azeret Mono', monospace;
}

/* main chat page  */

#sideBarss h2 {
    background-color: #ffffff2e;
    color: white;
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 39px;
    font-family: 'Roboto', sans-serif;
}

#sideBarss h3 {
    margin-top: 56px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    font-family: 'Azeret Mono', monospace;
    color: #f4831b;
}

.users {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
    margin-top: 13px;
    color: white;
}

@media only screen and (max-width: 825px) {
    .join-mess {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .side-right {
        display: none;
    }
    .main-bar {
        width: 75%;
    }
    #sideBarss h2 {
        font-size: 29px;
    }
    .name input, .room input {
        width: 164px;
        height: 35px;
        padding: 0px 15px;
        font-family: 'Roboto', sans-serif;
    }
    .name label {
        position: relative;
        right: 45px;
    }
    .room label {
        position: relative;
        right: 24px;
    }
}

@media only screen and (max-width: 403px) {
    .side-left {
        display: none;
    }
    .main-bar {
        width: 100%;
    }
}